<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>treino node</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">EJS</a>
        </nav>
    </header>

    <main>
        <div>
            <h1>NODE com EJS</h1>
            <p>vamos aprender  a trabalhar com arquivos EJS</p>
        </div>
    </main>

    <Footer>
        <P>treino</P>
    </Footer>
</body>
</html>